# Dependencies
**/node_modules
**/__pycache__
**/.env
**/.venv
env/
venv/

# Next.js Build
**/.next
**/build
**/dist

# System Files
.DS_Store
Thumbs.db

# Database (Don't leak your audit history!)
*.db
*.sqlite3